rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Todas as coleções da empresa: qualquer usuario autenticado tem acesso total
    match /empresa/{empresaId}/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
